body {
    background-color: rgb(155, 153, 153);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.kel {
    color: purple;
}

.cels {
    color: rgb(57, 57, 230);
}

.fah {
    color: rgb(194, 13, 13);
}

#convert_text {
    font-weight: bold;
}

.error {
    color: red;
}